<h1>Characters#index</h1>
<p>Find me in app/views/characters/index.html.erb</p>

<h1>Listing Hotels</h1>
<% if !@characters.blank? %>
<pre><%= JSON.pretty_generate(@characters) %></pre>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Star rating</th>
      <th>Accomodation type</th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td></td>

      </tr>
